@import "./utils/visually-hidden";
@import "./utils/variables";

@import "./base/common";
@import "./base/container";
@import "./base/section";

@import "./components/close-btn";
@import "./components/logo";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/primary-btn";
@import "./components/social-list";
@import "./components/second-header";

@import "./layout/header";
@import "./layout/hero";
@import "./layout/our-atributes";
@import "./layout/our-clients";
@import "./layout/our-team";
@import "./layout/what-we-do";
@import "./layout/footer";

@import "./pages/portfolio";
